--add-opens=java.base/java.net=ALL-UNNAMED
--add-exports=java.xml/com.sun.org.apache.xalan.internal.xsltc.trax=ALL-UNNAMED
--add-exports=java.xml/com.sun.org.apache.xalan.internal.xsltc.runtime=ALL-UNNAMED
--add-exports=java.xml/com.sun.org.apache.xalan.internal.xsltc=ALL-UNNAMED
--add-exports=java.xml/com.sun.org.apache.xml.internal.dtm=ALL-UNNAMED
--add-exports=java.xml/com.sun.org.apache.xml.internal.serializer=ALL-UNNAMED